In [1]:
import pandas as pd

In [4]:
pd.read_csv("galaxydatabase.csv", encoding = "ISO-8859-1")

,Name,Type,Mag,Dist. / kpc,Constellation,R.A.,Rahours,Raminutes,Radeg,Decl.,Decdeg,Decmin,DeclDeg,RadRa,RadDec,Other names
0,NGC 628,Galaxy,9.3,10.7,Pisces,136,1,36,24.00,+15°47',15,47,15.783333,0.418879,0.275471,M 74
1,NGC 477,Galaxy,13.9,101000.0,Andromeda,121,1,21,20.25,+40°29',40,29,40.483333,0.353429,0.706567,NaN
2,NGC 364,Galaxy,14.2,101900.0,Cetus,104,1,4,16.00,-00°48',0,-48,-0.800000,0.279253,-0.013963,NaN
3,NGC 64,Galaxy,14.1,102000.0,Cetus,17,0,17,4.25,-06°49',-6,-49,-6.816667,0.074176,-0.118973,NaN
4,NGC 90,Galaxy,13.8,102350.0,Andromeda,21,0,21,5.25,+22°24',22,24,22.400000,0.091630,0.390954,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,NGC 934,Galaxy,13.4,96300.0,Cetus,227,2,27,36.75,-00°14',0,-14,-0.233333,0.641409,-0.004072,NaN
390,NGC 409,Galaxy,14.1,96400.0,Sculptor,109,1,9,17.25,-35°48',-35,-48,-35.800000,0.301069,-0.624828,NaN
391,NGC 2,Galaxy,16.2,96800.0,Pegasus,7,0,7,1.75,+27°40',27,40,27.666667,0.030543,0.482874,Mrk 1175
392,NGC 223,Galaxy,14.3,97700.0,Cetus,42,0,42,10.50,+00°50',0,50,0.833333,0.183260,0.014544,NaN
393,NGC 219,Galaxy,15.2,98300.0,Cetus,42,0,42,10.50,+00°54',0,54,0.900000,0.183260,0.015708,NaN